*, *:before, *:after{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    padding: 20px;
}
a:link{
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}

/* Container */
.container{
    max-width: 1000px;
    margin: 0 auto;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    box-shadow: 0 0 35px #00000015;
    background-color: #f8f8f8;
}
/* Header */
header{
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: space-between;
}
.brand a, 
.brand img{
    display: block;
}
.log h4 {
    margin: 0;
    padding: 0;
}
.brand h2 {
    margin: 0;
    padding: 0;
    font-size: 60px;
}
.brand{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    font-weight: 700;
    letter-spacing: 3px;
    justify-content: space-between;
}
.log {
    display: flex;
    font-size: 20px;
    justify-content: right;
    padding: 5px;
}
.button_log
{
    display: block;
    padding: 3px;
    background-color:  rgb(151, 204, 101);
    color: rgb(95, 95, 95);
    border: 2px solid #ddd;
    border-radius: 5px;
    outline: none;
    padding: 5px 10px;
    cursor: pointer;
}
.button_log:focus
{
    -webkit-box-shadow: 1px 1px 12px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 12px 3px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 12px 3px rgba(0,0,0,0.75);
}
.button_log:hover
{
    background-color: rgb(151, 204, 101);
}

.logo_fontello_wallet{
    color: rgb(151, 204, 101)
}
.logo_name{
    color: rgb(151, 204, 101)
}

input[type=text],
input[type=password],
input[type=email]
{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 3px;
    width: 250px;
    background-color: rgb(151, 204, 101);
    color: rgb(95, 95, 95);
    border: 2px solid #ddd;
    border-radius: 5px;
    height: 40px;
    font-size: 20px;
    outline: none;
}
input[type=text]:focus,
input[type=password]:focus
{
    -webkit-box-shadow: 1px 1px 12px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 12px 3px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 12px 3px rgba(0,0,0,0.75);
}
input[type=submit]
{
    margin-top: 20px;
    width: 254px;
    font-size: 20px;
    background-color: rgb(119, 161, 79);
    color: #f1f1f1f1;
    font-weight: 600;
    padding: 15px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 1px;
    outline: none;
}
input[type=submit]:hover
{
    background-color: rgb(151, 204, 101);
}
.main_page {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    display: flex;
}
.menu_bar
{
    width: 300px;
}
.action {
    float: left;
    padding: 20px; 
}
/* Main */
.slider img {
    display: block;
}
main {
    justify-content: space-between;
    display: flex;
    border-top: solid 1px #e1e1e1;
    background-color: rgb(245, 245, 243);
}



.logging {
    justify-content: space-between;
    display: flex;
    border-radius: 30px;
    margin: 100px auto;
    padding: 30px;
    text-align: center;
    width: 400px;
    border-right: solid 1px #e1e1e1;
    border-top: solid 1px #e1e1e1;
    border-bottom: solid 1px #e1e1e1;
}
.register {
    justify-content: space-between;
    display: flex;
    border-radius: 30px;
    border: solid 1px #e1e1e1;
    margin: 100px auto;
    padding: 30px;
    text-align: center;
    width: 400px;
}

/* Article */
article {
    justify-content: space-between;
    display: flex;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}

.logging
{
    justify-content: space-between;
    display: flex;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}
.hello
{
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}
.hello h4 {
    text-align: center;
}

/* Footer */
footer {
    background-color: rgb(245, 245, 243);
    border-top: solid 1px #e1e1e1;
    text-align: center;
    padding: 5px 10px;
    margin: 0;
}

@media (max-width: 375px)
{
    
    header
    {
        flex-direction: column;
    }
    .brand {
        font-size: 40px;
        margin-right: auto;
        margin-left: auto;
    }
    main{
        flex-direction: column;
    }
}